@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

.subscribe-btn {
  position: absolute;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
}

.subscribe-btn span {
  position: relative;
  color: white;
}

.subscribe-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #1895f4, #1e79e8);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: 4px;
}

.subscribe-btn:hover::before {
  opacity: 1;
}
